.edit_combine, .done_combine {
    float: right;
    padding-left: 5px;
}

.combine-order-field {
    min-width: 250px;
}

#combined-order-id {
    margin: 0;
    margin-top: 10px;
}

#other-combines-input {
    margin: 10px 0;
    max-width: 85%;
}

.other-combines-add {
    float: right;
    margin: 12px 0;
}

#order_data .other-combined {
    width: 100%;
    box-sizing: border-box;
}

#order_data .other-combined p {
    color: white;
    margin: 0;
}

.edit-combined-list {
    position: relative;
}

.combined-order-autocomplete {
    padding: 5px 10px;
    border: lightgrey 1px solid;
    border-top: none;
    position: absolute;
    background: white;
    width: 100%;
    box-sizing: border-box;
}

.combined-order-autocomplete.valid:hover {
    cursor: pointer;
}

.combined-order-autocomplete.valid:hover {
    background: lightgrey;
}

.combined-list ul {
    margin: 5px 0;
}

.combined-list ul:after {
    content: "";
    clear: both;
    display: table;
}

.combined-list li {
    float: left;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 5px;
    background: #7f7f7f;
    color: white;
    display: flex;
    justify-content: space-between;
}

.combined-list li a, .combined-list li .remove-combined {
    color: white;
    cursor: pointer;
}

.combined-list li a:hover, .combined-list li .remove-combined:hover {
    color: blue;
}

#order_data p.combine-next {
    padding: 2px 5px !important;
    border-radius: 2px;
    background: #d7cad2;
    color: black;
    text-align: center;
    margin: 0;
}

.edit-combined-current-id {
    width: 100%;
    background: darkgrey;
    color: white;
    border: 1px rgb(126, 137, 147) solid;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    padding: 2px;
    font-size: 1em;
}

.edit-combined-combine-next {
    background: darkgrey;
    margin: 0;
    padding: 2px;
    border: 1px rgb(126, 137, 147) solid;
    border-top: none;
    border-radius: 0 0 3px 3px;
}

#order_data #combine-next-checkbox {
    width: 1rem;
}

#order_data .order_data_column .form-field .edit-combined-combine-next label {
    display: inline-block;
}

#edit-combined-textarea {
    min-height: 100px;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    box-sizing: border-box;
    padding: 2px;
    font-size: 1em;
    margin: 0;
    display: block;
}

#combine-feedback {
    color: red;
}
