.combine-form #combine-order {
    width: 100%;
}

.combine-form button {
    width: 100%;
    margin: 10px 0;
}

.combine-form #combine-order option:disabled {
    background: #e8e8e8;
}

.combine-form #combine-others-remarks-container {
    margin: 10px 0;
}

.combine-form #ship-now-checkbox {
    margin: 15px 0;
}

.combine-form #combine-next-container label[for=ship-now-checkbox] {
    display: inline-block;
}

ul.combine-reminders {
    padding: 10px 0 0 25px;
    color: indianred;
}

.free-shipping-reminder {
    color: indianred;
}

#cancel-combine {
    cursor: pointer;
}
